.container{

  height: 50vh;
  border: dashed;
  display: flex;
  
  align-content: space-evenly;
  flex-wrap: wrap;
  
}

.item{
  --hue: 0;
  text-align: center;
  background-color: hsl(var(--hue), 100%, 70%);
  width: 120px;
}